.div-main-modal-manage-product{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}

.label-add-product{
    width: 30%;
    text-align: justify;
}

.list-box-button-mp{
    border: 1px black solid;
  }